<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="content">
	    <h1><%= title %></h1>
	    <p><%= title %> logs</p>
	    <ul>
			<% for(var i=0; i<logs.length; i++) { %>
				<li>
					<%= logs[i].log.date %> <%= logs[i].log.nick %>: <%= logs[i].log.message %>
				</li>
			<% } %>
		</ul>
	</div>
  </body>
</html>