<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/scripts.js"></script>
  </head>
  <body>
  	<div id="content">
	    <h1><%= title %></h1>
	    <p><%= title %> logs</p>
	    <ul id="logs">
			<% for(var i=0; i<logs.length; i++) { %>
				<li>
					<span class="date"><%= logs[i].date %></span> <span style="color: #<%= logs[i].color %>"><%= logs[i].nick %></span>: <%= logs[i].message %>
				</li>
			<% } %>
		</ul>
		<% if(chatty.length >= 5) { %>
			<div class="float-left">
				<p><%= title %> 5 most chatty</p>
				<ol class="chatty">
					<% for(var i=0; i<5; i++) { %>
						<li>
							<%= chatty[i].nick %> with a total of <%= chatty[i].count %> lines.
						</li>
					<% } %>
				</ol>
			</div>
			<div class="float-right">
			<p><%= title %> 5 least chatty</p>
			<ol class="chatty">
				<% for(var i=chatty.length - 1; i >= chatty.length - 5; i--) { %>
					<li>
						<%= chatty[i].nick %> with a total of <%= chatty[i].count %> lines.
					</li>
				<% } %>
			</ol>
			</div>
			<div class="clearer"></div>
		<% } %>
	</div>
  </body>
</html>